.containersGroup {
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.columnLeft,
.columnRight {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.greetingBlock {
    margin-left: 20px;
}

@media screen and (min-width: 768px) {
    .greetingBlock {
        margin-left: 32px;
    }
}

@media screen and (min-width: 1440px) {
    .containersGroup {
        gap: 32px;
        margin: 32px;
        width: calc(100% - 64px);
    }

    .columnLeft,
    .columnRight {
        flex: 1;
    }
}