/*======Mobile styles======*/
.container {
  max-width: 375px;
  display: grid;
  grid-template-columns: 1fr;
  padding: 20px;
  padding-top: 0;
}

.week {
  width: 100%;
  margin-left: -32px;
  margin-right: -32px;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

/*======Tablet styles======*/
@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
  }
}

/*======Desctop styles======*/

@media (min-width: 1440px) {
  .container {
    max-width: 1128px;
    margin-left: 0;
  }
}
