/*======Mobile first======*/

.container {
  width: 100%;
  max-width: 335px;
  box-sizing: border-box;
  /* margin: 0 auto; */

  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: 16px;
}

.tabsplug {
  width: 100%;
  box-sizing: border-box;
  padding: 4px;
  border-radius: 100px;

  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));

  border: 1px solid var(--opacity-transparent);

  background: var(--color-scheme-foreground);
}

.tabbutton {
  display: block;
  width: 100%;
  border-radius: 100px;
  padding: 10px 24px;
  height: 41px;
  border: 1px solid var(--opacity-transparent);

  background: var(--opacity-transparent);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--color-scheme-text);
}

.active {
  height: 42px;
  background: var(--color-scheme-foreground-alt);
}

.babytab {
  width: 100%;
  box-sizing: border-box;
  border: 0px solid var(--color-scheme-border);
  border-radius: 32px;

  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  gap: 16px;
  padding: 24px;

  background: var(--theme-lighter);
}

.imagebox {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.picture {
  display: block;
  width: 100%;
  height: auto;

  border: 1px solid var(--color-scheme-border);
  border-radius: 24px;

  object-fit: cover;
}

.infobox {
  margin: 0;
}

.textinfo {
  display: block;
  margin: 0px;
  margin-top: 16px;
  margin-bottom: 8px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--color-scheme-text);
}

.textinfo:last-child {
  margin-bottom: 0;
}

.factbox {
  border-radius: 12px;
  padding: 12px;
  width: 100%;

  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;

  background: var(--color-scheme-foreground-alt);
}

.facttitle {
  width: 100%;
  height: 24px;
  display: flex;
  margin: 0;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  color: var(--color-scheme-text);
}

.facticon {
  fill: var(--color-scheme-text);
  margin: 0;
  margin-right: 8px;
}

.momtab {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: 24px;
}

.itembox {
  border: 0px solid var(--color-scheme-border);
  border-radius: 32px;
  padding: 24px;
  margin: 0;
  width: 100%;

  background: var(--color-scheme-foreground);

  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;
}

.title {
  display: block;
  margin: 0;
  text-align: left;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.01em;
  color: var(--color-scheme-text);
}

.feelingsbox {
  width: 100%;
  height: 27px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px; /* відстань між бейджами */
  align-items: flex-start;

  font-family: var(--font-family);
  font-weight: 600;
  font-size: 12px;
  line-height: 160%;
  color: var(--color-scheme-text);
}

.feeling {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 6px 12px;
  border-radius: 999px;

  white-space: nowrap; /* бейдж в 1 рядок */
  max-width: 100%;

  border: 1px solid var(--opacity-transparent);
  border-radius: 100px;
  padding: 4px 10px;
  min-width: 61px;
  height: 27px;
  color: var(--color-scheme-text);

  background: var(--opacity-neutral-darkest-5);
}

.categorybox {
  margin: 0;
}

.wrap {
  display: flex;
}

.category {
  display: block;
  margin: 0;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 160%;
  color: var(--color-scheme-text);
}

.categorydescr {
  display: block;
  margin: 0;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--color-scheme-text);
}

/*======Tablet======*/
@media (min-width: 768px) {
  .container {
    max-width: 704px;
  }

  .tabsplug {
    width: 704px;
  }
  .feelingsbox {
    justify-content: start;
    gap: 10px;
  }
}

/*======Desctop======*/
@media (min-width: 1440px) {
  .container {
    width: 1128px;
    max-width: 1064px;
    height: 610px;
    display: block;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-scheme-text);
  }

  .tabsplug {
    width: 572px;
    height: 54px;
    margin: auto;
    margin-bottom: 16px;
  }

  .momtab {
    width: 100%;
    height: 540px;
    display: grid;

    grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
    gap: 24px;
    align-items: start;
  }

  .momtab > :last-child {
    grid-column: 2; /* друга колонка */
    grid-row: 1 / span 2; /* займає висоту двох лівих блоків */
  }
  .momtab > :first-child {
    height: 194px;
    overflow-y: auto;
  }
  .momtab > :nth-child(2) {
    height: 322px;
    overflow-y: auto;
  }
  .momtab > :nth-child(3) {
    height: 499px;
    overflow-y: auto;
  }

  .babytab {
    width: 100%;
    border-radius: 32px;

    height: 467px;
    display: grid;
    grid-template-columns: 461px 1fr;
    grid-template-rows: 280px 1fr;
  }

  .babytab > :first-child {
    grid-column: 1;
    grid-row: 1/-1;
  }

  .babytab > :nth-child(2) {
    height: 280 px;
    grid-column: 2;
    grid-row: 1;
    overflow: auto;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-scheme-text);
  }

  .babytab > :nth-child(3) {
    height: 104 px;
    grid-column: 2;
    grid-row: 2;
    overflow: auto;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-scheme-text);
  }
}
